/*
 	Copyright 2016 Priority Thinking, LLC
	<https://github.com/prioritythinking>
 	
	This extension is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	For a copy of the GNU General Public License, see 
	<http://www.gnu.org/licenses/>.
 */

h1 {
	color: black;
}

/*
div[tid="SingleSelection"] { 
	border-bottom: 1px solid #9D9D9D 
}
*/

article + div + div {
	position: relative;
}

.sidebar-nav > header {
	/*padding: .3em 0px .3em 1em;*/
	border-bottom: black 1px solid;
}

label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
}

label.stateS:before {
	content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color:rgb(80,198,80);
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

label:before {
	content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #aaa;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.qv-object .qv-object-title {
	padding-bottom: 0px;
	padding-right: 0px;
}

.listbox {
	padding-top: 5px;
}

.listbox p {
	width: 96%;
    display: block;
    text-decoration: none;
    padding: .4em 1em .4em 1em;
	margin: .2em 0 .2em 0;
	list-style: none;
	cursor: pointer;
	border: #CCCCCC 1px solid;
	border-radius: 5px;
	text-overflow: ellipsis;
	line-height: 20px;
	padding-top: 0px;
}

.listbox p.stateS {
	background:rgb(147,112,214) !important;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
	color:#FFFFFF !important;
}

.listbox p.stateA {
	background-image: none;
	/*background-color: #D3D3D3;*/
	color: white;
}
.listbox p.stateA, .listbox p.stateS {
	/* border-right:#FFFFFF solid 1px; */
	border-bottom:#CCCCCC 1px solid !important;
}
nav .listbox p.stateO{
	/* border-right:#FFFFFF solid 1px; */
	color: white !important;
}

.stateX {
	color: white;
}

/* Hover state */
.listbox p:hover {
    box-shadow: 0 0 8px rgba(147,112,214, 0.7);
	font-weight: bold;
	border: 1px solid rgb(147,112,214);
}

p.stateS:hover {
	color: white !important;
	border: 1px solid white !important;
	font-weight: normal !important;
}